@model OOP_Final_Project.ViewModels.DoctorViewModel

@foreach (var patient in Model.Patients)
{
    <div class="card patient-card rounded-12px shadow-sm">
    <div class="card-body">
        <div class="d-flex align-items-center " style="justify-content: space-between;">
            <div class="d-flex align-items-center gap-md-1">
                <i class="fas fa-user-tag"></i>
                <h5 class="card-title mb-0">@patient.FirstName</h5>
            </div>
            <button class="btn-sm btn btn-outline-dark px-3 shadow-sm" data-patient-id="@patient.Id"
                data-patient-name="@patient.FirstName" data-patient-phone="@patient.Phone"
                data-patient-address="@patient.Address" data-patient-email="@patient.Email"
                data-patient-latest-visit="@patient.LatestVisit" onclick="openPatientDetailsModal(this)">
                Details
            </button>
        </div>
        <hr>
        <div class="d-flex gap-md-2 flex-column">
            <div class="d-flex justify-content-between align-items-center">
                <div>ID:</div>
                <div class="text-dark btn-sm" style="background-color:#f4f4f4;">@patient.Id</div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <div>Lastest visit:</div>
                <div class="text-dark btn-sm" style="background-color:#f4f4f4;">@(patient.LatestVisit)</div>
            </div>
        </div>
    </div>
</div>
}
