@model OOP_Final_Project.ViewModels.DoctorViewModel


<div class="px-5">
    <!-- Header Section -->
    <div class=" " style="padding-top: 64px;">
        <div class="  d-flex justify-content-between align-items-center mb-4">
            <h3 class="mb-0">Prescribe</h3>
        </div>
    </div>

    <hr>


    <!-- Statistics Section -->
    <div class="my-4 d-flex flex-wrap gap-md-3" style="justify-content:flex-start; align-items: center;">
        <h5 class="text-muted mb-0">Today</h5>

        <!-- Total Appointments -->
        <div class="col-md-2 d-flex flex-column">
            <div class="card quick-access-card  shadow-sm" style="background-color: white; border-radius: 16px;">
                <div class="card-body py-2 ">
                    <div class="d-flex  align-items-center gap-md-2" style="justify-content: space-between;">
                        <div class="text-muted">Total</div>
                        <h3 class="mb-0 pb-0 ">@Model.OnDatePrescriptions.Count</h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- Total Appointments -->
        <div class="col-md-2 d-flex flex-column">
            <div class="card quick-access-card  shadow-sm" style="background-color: white; border-radius: 16px;">
                <div class="card-body py-2 ">
                    <div class="d-flex  align-items-center gap-md-2" style="justify-content: space-between;">
                        <div class="text-success">Done</div>
                        <h3 class="mb-0 pb-0 text-success">@Model.OnDateDonePrescriptions.Count</h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- Total Appointments -->
        <div class="col-md-2 d-flex flex-column">
            <div class="card quick-access-card  shadow-sm" style="background-color: white; border-radius: 16px;">
                <div class="card-body py-2 ">
                    <div class="d-flex  align-items-center gap-md-2" style="justify-content: space-between;">
                        <div class="text-warning">Pick up</div>
                        <h3 class="mb-0 pb-0 text-warning">@Model.OnDatePickupPrescriptions.Count</h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- Total Appointments -->
        <div class="col-md-3 d-flex flex-column">
            <div class="card quick-access-card  shadow-sm" style="background-color: white; border-radius: 16px;">
                <div class="card-body py-2 ">
                    <div class="d-flex  align-items-center gap-md-2" style="justify-content: space-between;">
                        <div class="text-danger">Waiting prepare</div>
                        <h3 class="mb-0 pb-0 text-danger">@Model.OnDatePreparePrescriptions.Count</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Upcoming Appointments Section -->
    <div class="card rounded-16px mb-4 shadow-sm p-4" style="background-color: #ffffff;">
        <!-- Filters and Buttons -->
        <div class="d-flex justify-content-between align-items-center mb-4">
            <div class="d-flex gap-md-2">
                <!-- View Options -->
                <div class="btn-group" role="group">
                    <button type="button" class="btn   btn-dark">Prepare</button>
                    <button type="button" class="btn btn-outline-dark  ">Pick up</button>
                    <button type="button" class="btn btn-outline-dark ">Done</button>
                </div>

                <!-- Date Filter -->
                <div>
                    <input type="date" class="form-control d-inline-block w-auto "
                        onchange="filterAppointmentsByDate()">
                </div>

                <!-- Sort Options -->
                <div>
                    <select id="sortTime" class="form-select w-auto " onchange="sortAppointments()">
                        <option value="asc">Ascending</option>
                        <option value="desc">Descending</option>
                    </select>
                </div>
            </div>

            <!-- Search Input -->
            <div class="input-group w-25">
                <span class="input-group-text text-muted">
                    <i class="fas fa-search"></i>
                </span>

                <input type="text" class="form-control" placeholder="Search">
            </div>
        </div>




        <!-- Patients List Section -->
        <div class="d-flex flex-wrap  mb-3 text-dark ms-4" style="gap: 30px;">
            @foreach (var prescription in Model.OnDateDonePrescriptions)
            {
                <div class="card rounded-12px shadow-sm" style="padding: 3px;">
                    <div class="card-body col-md-2" style="width: 100%;">
                        <div class="d-flex  align-items-center " style="justify-content: space-between;">
                            <div class="d-flex  align-items-center gap-md-1">
                                <i class="fas fa-user-tag"></i>
                                <h5 class="card-title mb-0">Patient</h5>
                            </div>
                            <div class="btn-sm btn btn-outline-dark" data-bs-toggle="modal"
                                data-bs-target="#prescribeDetailModal" data-prescription-patient="@prescription.PatientName"
                                data-prescription-time="@prescription.AppointmentTime"
                                data-prescription-doctor="@prescription.DoctorName"
                                data-prescription-medicines="@prescription.Medicines"
                                data-prescription-appoinment-id="@prescription.AppointmentId"
                                data-prescription-id="@prescription.Id" onclick="openPrescribeDetailsModal(this)">
                                Details
                            </div>
                        </div>
                        <hr>
                        <div class="d-flex gap-md-2 flex-column">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>ID:</div>
                                <div class="text-dark btn-sm" style="background-color:#f4f4f4;">@prescription.Id</div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <div>Patient:</div>
                                <div class="text-dark btn-sm" style="background-color:#f4f4f4;">@prescription.PatientName
                                </div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center gap-md-4">
                                <div>Time:</div>
                                <div class="text-dark btn-sm" style="background-color:#f4f4f4;">
                                    @prescription.AppointmentTime</div>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</div>



<div>

    @await Html.PartialAsync("Modals/_prescribeDetailsModal")
</div>


@section Scripts {

}