@model OOP_Final_Project.ViewModels.DoctorViewModel

@{
    var medicines = Model.Medicines?.Any() == true ? Model.Medicines : Model.LowStockMedicines;
}

@if (medicines?.Any() == true)
{
    @foreach (var medicine in medicines)
    {
        <tr>
    <td>@medicine.Name</td>
    <td>@medicine.MedicineTypeName</td>
    <td>@medicine.ImportDate</td>
    <td>@medicine.ExpiredDate</td>
    <td>@medicine.Quantity</td>
    <td>
        <div class="d-flex justify-content-center gap-md-2">
            <button class="btn btn-outline-primary">
                <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-outline-danger">
                <i class="fas fa-trash-alt"></i>
            </button>
        </div>
    </td>
</tr>
    }
}
else
{
    <tr>
    <td colspan="6" class="text-center">No data available</td>
</tr>
}